.btn {
    outline: none;
    border: none;
    background:none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    padding: 10px 32px;
    color: var(--c-white);
    transition: var(--default-trans);
    font-family: var(--font-sBold);
    background-color: var(--c-primary);
    border-radius: var(--br-radius-sm);  
}